body {
	background-color:#FDFD96;
	color:#F4C2C2;
	font-family: comic relief;
}

h1{
	color: purple;
	font-family: comic sans-serif;
}

img {
	opacity:1.0;
	width: 50%;
}

img:hover {
	transform: scaleX(-1);
}

a{
	position: absolute;
	top: 25%;
  	left: 1%;
}

.container {
	display: grid;
	grid-template-areas: 
	"header header"
	"texto texto"
	"foto_1 foto_2";
}

.container div.header {
	grid-area:header;
	text-align:center;
}

.container div.texto {
	grid-area:texto;
	margin-right: 550px;
}

.container div.foto_1 {
	grid-area:foto_1
}

.container div.foto_2 {
	grid-area: foto_2;
	padding-right: 150px;
}

.foto_2 {
	width:50%;
}