
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

/*BARRA DE NAVEGACION*/

/*conjunto de los enlaces*/

	ul {list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: #567C8D;
	}

	/* Visualizacion de elementos de la lista,*/

	ul li {
		float: left 
	} 

	/*caracteristicas de los elementos*/
	ul li a {
		display: block;
		color: #C8D9E6;
		text-align: center;
		padding: 14px 16px ;
		text-decoration: none ;
        font-weight: bolder; 
	}

	/*para que el mouse señale que se puede hacer click*/
	ul li a:hover {
		background-color: #2F4156;
	}

/*Inicio*/

    /*Primera sección, dentro del inicio 100%*/
    /*Rescatado de https://youtu.be/2b8ItkuUbwA*/
        .titulo h1{
            color: #2F4156;
            /* Altera la opacidad en 2 segundos de forma continua e infinita */
            animation: desvanecer 2s linear infinite;
        }

        @keyframes desvanecer {
          0%, 100% { opacity: 1; }  /* Totalmente visible al inicio y fin */
          50% { opacity: 0; }       
        }

        .hero {
          display: flex;
          padding: 40px;
        }

        .hero-img {
          width: 400px;
          height: 200px;
        }

          .img {
            height: 300px;
            width: auto;
            float: right;
            margin-left: 15px;
        }

        .hero-text {
          margin-left: 20px;
          color: Teal: #567C8D;
        }

    /*Cuadros, del inicio y de Referentes (Noticias) */

        .cards, .grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 15px;
          padding: 20px;
        }

        .card {
          border: 1px solid #567C8D;
          padding: 20px;
          text-align: center;
        background-color: #C8D9E6;

        }

        .contenido {
          display: flex;
          gap: 30px;
        }

        .texto {
          width: 70%;
        }

        .about h2 {
            color:#567C8D;
            margin-top: 80px;
        }

        .imgref {
            height: 250px;
            width: auto;
            float: center;
            margin-top: 25px;
        }

 /*Entrevistas*/

    .Analisis{ 
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: justify;
        } 

    .sub {
        color:#567C8D;
    }

    .clave {
        color: #2F4156;
        font-weight: bolder;
        }

    .Etario {
        width: 90%;
        background-color: #C8D9E6;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        text-align: justify;
        margin-left: 50px;
        margin-top: 50px;
        padding: 10px;
    }


 /*Narrativas personales*/

    /*CUADROS*/

.container {
        width: 90%;
        margin: auto;
        padding: 40px 0;
    }

    h1 {
        margin-bottom: 10px;
        color:#567C8D;
    }

    .subtitle {
        color: #567C8D;
        margin-bottom: 40px;
    }

    /* 2 columnas fijas */
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 1200px; /*ancho cuadros*/
        margin: auto;
    }

    /*Narrativas personales*/
    .cuadro {
        display: flex;
        background-color: white;
        border: 2px solid #dcdcdc; /* cuadro */
        border-radius: 10px;
        padding: 15px;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    /*Conclusion de las narrativas*/
    .cuadro2{
         display: flex;
        background-color:#C8D9E6 ;
        border: 2px solid #dcdcdc; /* cuadro */
        border-radius: 10px;
        padding: 15px;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .cuadro img {
        width: 110px;
        height: 110px;
        object-fit: cover;
        border: 2px solid #ccc; /* cuadro imagen */
        border-radius: 10px;
        margin-right: 15px;
    }

/*Contenidos de cada cuadro, parrafos*/

    .info {
        text-align: left;
    }

    .info h3 {
        margin: 0;
        font-size: 16px;
    }

    .info p {
        font-size: 14px;
        color: #555;
    }


/*Proyecciones*/ 

    /* Previa */    
        .Pre {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

    /*Frase a destacar, fundamento de nuestra proyección (Título)*/
        .Cita {
            text-decoration: underline;
            color:#2F4156;
        }

        .Intro {
            text-align: justify;
        }
         .Humano {
            text-align: justify;
        }

    /*Detalles de subtitulos e imagenes*/

        .subtitulos h3{
            color: #2F4156;
            text-align: left;
        }

        .imgpro {
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left:200px ;
            margin-right:200px;
        }

        /*Rescatado de https://youtu.be/2b8ItkuUbwA*/

        .tecno-poder {
         animation: parpadeo 1s steps(2) infinite;
            }

        @keyframes parpadeo {
          0% { opacity: 1; }
          50% { opacity: 0; }
        }
      
    /*Sintesis y narrativa propuesta*/

        .N20 {
            margin-top: 20px;
            margin-bottom: 40px;
            margin-left: 50px;
            margin-right: 50px; 

            color: #2F4156;
        }

        .n20 {
            text-align: justify;
           color: black; 
        }
/*Pie de pagina*/

.footer-box {
  border: 2px solid black;
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px;
  margin: 30px;
  background: #f5f5f5;
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.footer-box p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}


/*Anexos*/   
    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 160px;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 5px;


        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }



/*BOTON subida, Codigo rescatado de W3schools (2026)*/

    #myBtn {
      display: none;
      position: fixed; 
      bottom: 20px; 
      right: 30px; 
      z-index: 99; 

      border: none; 
      outline: none; 

      background-color:#567C8D ; 
      color: #C8D9E6; 
      cursor: pointer; 
      padding: 15px; 
      border-radius: 10px; 
      font-size: 18px; 
    }

    #myBtn:hover {
     background-color: #C8D9E6; 
    }

    #cuerpo {
    background-color: #F5EFEB;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 800px;
    }

    /*Referencias
      garnatti one. (s.f.). How to create CSS blinking text (quick tutorial) [Video]. YouTube. https://youtu.be/2b8ItkuUbwA  

    */